@using MVC_StokTakip.Models.Entity
@model List<Araclar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="text-align:center">Araç Listesi</h2>
<div class=" form-group col-md-12">

    <div>   <a href="/Arac/Ekle/" class="btn btn-success">Yeni Araç Ekle</a></div>
</div>

<table id="tbl1" class="table table-responsive-sm" style="margin-top:20px">
    <thead>
        <tr>
            <th>Plaka</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Müşteri</th>
            <th>Tarih</th>
            <th>Detay</th>
            <th>Güncelle</th>





        </tr>
    </thead>
    @foreach (var k in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => k.Plaka)</td>
            <td>@Html.DisplayFor(x => k.AracMarka.Marka)</td>
            <td>@Html.DisplayFor(x => k.Model)</td>
            @if (k.MusteriID == null)
            {
                <td>BOŞ</td>
            }
            else
            {
                <td>@Html.DisplayFor(x => k.Musteriler.Ad) @Html.DisplayFor(x => k.Musteriler.Soyad)</td>
            }
            <td>@Html.DisplayFor(x=> k.Tarih)</td>
            <td>@Html.ActionLink("Detay", "Detay", new { id = k.ID }, new { @class = "btn btn-secondary" })</td>
            <td>@Html.ActionLink("Güncelle", "AracGetir", new { id = k.ID }, new { @class = "btn btn-primary" })</td>

        </tr>
    }
</table>




<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>


<script>
    $('#tbl1').dataTable({
        language: {
            "search": "Araç Ara :",
            "info": "Gösteriliyor _START_ to _END_ of _TOTAL_ Girdilerden",
            "infoEmpty": "Gösteriliyor 0 to 0 of 0 Girdilerden",
            "info": "Gösteriliyor _START_ to _END_ of _TOTAL_ Girdilerden",
            "lengthMenu": "Kaçarlı Gösterilsin _MENU_ ",
            "zeroRecords": "Hiçbir Kayıt Bulunamadı.",
            "paginate": {
                "first": "İlk Sayfa",
                "last": "Son Sayfa",
                "next": "İleri",
                "previous": "Geri"
            }
        },


    });
</script>

