@model MVC_StokTakip.Models.Entity.Class1
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <span style="margin-top:7px;"><a href="/Tamiratlar/Yazdir/?id=@Model.Tamiratlar.ID" class="btn btn-success">Yazdır</a></span>
    <h4 style="text-align:right;">Tamirat Tarihi : @Html.DisplayFor(x => Model.Tamiratlar.Tarih)</h4>
</div>

<div class="row">
    <div class="col-12">
        <!-- Custom Tabs -->
        <div class="card">
            <div class="card-header d-flex p-0">
                <h2 class="card-title p-3 " style="text-align:center;">
                    <strong>TAMİRAT DETAYLARI</strong>
                </h2>

                <ul class="nav nav-pills ml-auto p-2">
                    <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Araç Bilgileri</a></li>
                    <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Düzenle</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab"></a></li>*@
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Araç Bilgileri</strong></span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Plaka</strong>: @Html.DisplayFor(x => x.Tamiratlar.Araclar.Plaka)</span>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Marka-Model</strong>: @Html.DisplayFor(x => x.Tamiratlar.Araclar.AracMarka.Marka) @Html.DisplayFor(x => x.Tamiratlar.Araclar.Model) </span>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Km</strong>: @Html.DisplayFor(x => x.Tamiratlar.Km) </span>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Şasi No</strong>: @Html.DisplayFor(x => x.Tamiratlar.Araclar.SasiNo)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Müşteri Bilgileri</strong></span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Ad-Soyad</strong>: @Html.DisplayFor(x => x.Tamiratlar.Araclar.Musteriler.Ad) @Html.DisplayFor(x => x.Tamiratlar.Araclar.Musteriler.Soyad)</span>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Tel No</strong>: @Html.DisplayFor(x => x.Tamiratlar.Araclar.Musteriler.Telefon) </span>
                                            </div>
                                            <div class="col-md-12">
                                                <span class="info-box-text text-center text-muted" style="font-size:1.350em;"><strong>Email</strong>: @Html.DisplayFor(x => x.Tamiratlar.Araclar.Musteriler.Email) </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title" style="font-size:1.350em;">
                                            Müşteri Şikayetleri
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="font-size:1.350em; line-height: 0.9;">
                                        <p>@Html.Raw(Model.Tamiratlar.Not1)</p>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- ./col -->
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title" style="font-size:1.350em;">

                                            Araca Uygulananlar
                                        </h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body" style="font-size:1.350em; line-height: 0.9;">
                                        <p>@Html.Raw(Model.Tamiratlar.Not2)</p>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- ./col -->
                        </div>
                        <br />
                        <h4>Kullanılan Parçalar</h4>
                        <table id="tbl2" class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th hidden>ID</th>
                                    <th>Servis İçi Açıklama</th>
                                    <th>Fiyat Formu Açıklaması</th>
                                    <th hidden>TürID</th>
                                    <th>Miktarı</th>
                                    <th>Birimi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Toplam Tutar</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TamiratKalems)
                                {
                                    if (item.TurID == 1 || item.TurID == 3)
                                    {
                                        <tr>
                                            <td hidden>@Html.DisplayFor(x => item.UrunID)</td>
                                            <td>@Html.DisplayFor(x => item.Aciklama)</td>
                                            @if (item.UrunID == 0)
                                            {
                                                <td>@Html.DisplayFor(x => item.Aciklama)</td>

                                            }
                                            else
                                            {
                                                <td>@Html.DisplayFor(x => item.KategoriAd) - @Html.DisplayFor(x => item.StokKodu)</td>
                                            }

                                            <td hidden>@Html.DisplayFor(x => item.TurID)</td>
                                            <td>

                                                @Html.DisplayFor(x => item.Miktari)
                                            </td>
                                            <td>@Html.DisplayFor(x => item.Birimler.Birim)</td>
                                            <td>@Html.DisplayFor(x => item.BirimFiyat)₺</td>
                                            <td>@Html.DisplayFor(x => item.ToplamTutar)₺</td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <br />
                        <h4>Uygulanan İşçilikler</h4>
                        <table id="tbl3" class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Servis İçi Açıklama</th>
                                    <th>Fiyat Formu Açıklaması</th>
                                    <th>Miktarı</th>
                                    <th>Birimi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Toplam Tutar</th>

                                </tr>
                            </thead>
                            @foreach (var item in Model.TamiratKalems)
                            {
                                if (item.TurID == 2)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(x => item.Aciklama) </td>
                                        <td>@Html.DisplayFor(x => item.StokKodu) </td>
                                        <td>

                                            @Html.DisplayFor(x => item.Miktari)

                                        </td>
                                        <td>@Html.DisplayFor(x => item.Birimler.Birim)</td>
                                        <td>@Html.DisplayFor(x => item.BirimFiyat)₺</td>
                                        <td>@Html.DisplayFor(x => item.ToplamTutar)₺</td>

                                    </tr>
                                }
                            }
                        </table>
                        <br />
                        <h4>Rot Balans</h4>
                        <table id="tbl4" class="table table-responsive-sm">
                            <thead>
                                <tr>
                                    <th>Servis İçi Açıklama</th>
                                    <th>Fiyat Formu Açıklaması</th>
                                    <th>Miktarı</th>
                                    <th>Birimi</th>
                                    <th>Birim Fiyatı</th>
                                    <th>Toplam Tutar</th>

                                </tr>
                            </thead>
                            @foreach (var item in Model.TamiratKalems)
                            {
                                if (item.TurID == 4)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(x => item.Aciklama)</td>
                                        <td>@Html.DisplayFor(x => item.StokKodu)</td>
                                        <td>


                                            @Html.DisplayFor(x => item.Miktari)


                                        </td>
                                        <td>@Html.DisplayFor(x => item.Birimler.Birim)</td>
                                        <td>@Html.DisplayFor(x => item.BirimFiyat)₺</td>
                                        <td>@Html.DisplayFor(x => item.ToplamTutar)₺</td>

                                    </tr>
                                }
                            }
                        </table>
                        <br />
                        <div class="col-md-12">
                            <p style="font-size:1.350em;" id="ytop">Yedek Parça Toplam Ücreti :  @Html.DisplayFor(x => Model.Tamiratlar.YToplam) ₺</p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-size:1.350em;" id="itop">İşçilik  Toplam Ücreti :  @Html.DisplayFor(x => Model.Tamiratlar.İToplam) ₺</p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-size:1.350em;" id="mtop">Muhtelif Parça Toplam Ücreti :  @Html.DisplayFor(x => Model.Tamiratlar.MToplam) ₺</p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-size:1.350em;" id="rtop">Rot-Balans Toplam Ücreti :  @Html.DisplayFor(x => Model.Tamiratlar.RotBalans) ₺</p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-size:1.350em;" id="toptoplam">Toplam Ücreti :  @Html.DisplayFor(x => Model.Tamiratlar.Toplam) ₺</p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-size:1.350em;" id="iskontoTutar">İskonto Tutar :  @Html.DisplayFor(x => Model.Tamiratlar.İskonto) ₺</p>
                        </div>
                        <div class="col-md-12">
                            <p style="font-size:1.350em;" id="toplamFiyat">Genel Toplam :  @Html.DisplayFor(x => Model.Tamiratlar.GenelToplam) ₺</p>
                        </div>

                        <br />
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <h2 style="text-align:center;">Tamirat Bilgileri Güncelleme</h2>
                        <br /><br />
                        <div class="container">
                            @using (Html.BeginForm("TamiratGuncelle", "Tamiratlar", FormMethod.Post, new { id = "TamiratGuncel" }))
                            {

                                @Html.HiddenFor(x => x.Tamiratlar.ID, new { id = "TamiratID" });
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        @Html.Label("Aracın Son Durumu")
                                        @Html.DropDownListFor(x => x.Tamiratlar.DurumID, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control", id = "Durum", disabled = true })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Aracın Kilometresi")
                                        @Html.TextBoxFor(x => x.Tamiratlar.Km, new { @class = "form-control", id = "Km" })
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        @Html.Label("Müşteri Şikayetleri")
                                        @Html.TextAreaFor(x => x.Tamiratlar.Not1, new { @class = "form-control content-editor", id = "Not1" })
                                    </div>
                                    <div class="form-group col-md-6">
                                        @Html.Label("Araca Uygulananlar")
                                        @Html.TextAreaFor(x => x.Tamiratlar.Not2, new { @class = "form-control content-editor", id = "Not2" })
                                    </div>
                                </div>

                                <div class="form-group col-md-6 center1">
                                    @Html.Label("Usta Notları")
                                    @Html.TextAreaFor(x => x.Tamiratlar.Not3, new { @class = "form-control content-editor", id = "Not3" })
                                </div>
                                <button type="submit" class="btn btn-primary" id="btnGuncel">Kaydet</button>
                                @*<button type="submit" class="btn btn-primary" id="btnGuncel1">Servis Tamamlandı</button>*@
                            }
                        </div>
                    </div>

                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- ./card -->
    </div>
    <!-- /.col -->
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/GenelScript/jquery-code-scanner.js"></script>
<script src="~/Content/jquery-ui-1.12.1/jquery-ui.min.js"></script>

@* SummerNote *@
<script>

    $(document).ready(function () {
        $(".content-editor").summernote({
            height: 150,
            minHeight: null,
            maxHeight: null,
            codemirror: {
                theme: "monokai"
            },
            fontSizes: ['12', '14', '16', '18', '24', '36', '48'],
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']],
            ],
        });
    });
</script>

@* Tamirat bilgilerini güncelleme scripti*@
<script>

    $("#btnGuncel").click(function (e) {
        e.preventDefault();
        var formdata = $("#TamiratGuncel").serialize();
        $.ajax({
            url: "/Tamiratlar/TamiratGuncelle/",
            type: "POST",
            data: formdata,
            dataType: 'json',
            success:
                function (data) {
                    alert(data);
                    location.reload();
                },
            error: function () {
                alert("Hata");
            }
        });
    });
</script>