@using MVC_StokTakip.Models.Entity
@model List<Tamiratlar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 style="text-align:center">Tamirat Listesi</h2>


<table id="tbl1" class="table table-responsive-sm" style="margin-top:20px">
    <thead>
        <tr>
            <th>Araç Plaka, Marka, Model</th>
            <th>Müşteri Ad, Soyad</th>
            <th>Tarih</th>
            <th>Detay</th>






        </tr>
    </thead>
    @foreach (var k in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => k.Araclar.Plaka) @Html.DisplayFor(x => k.Araclar.AracMarka.Marka) @Html.DisplayFor(x => k.Araclar.Model)</td>
            <td>@Html.DisplayFor(x => k.Araclar.Musteriler.Ad) @Html.DisplayFor(x => k.Araclar.Musteriler.Soyad)</td>
            <td>
                @Html.DisplayFor(x => k.Tarih)
            </td>
            <td><a href="/Tamiratlar/Detay/?id=@k.ID" class="button btn-block">Detaylar</a></td>

        </tr>
    }
</table>

<br />


@section scripts {

    <script>


        var table = $('#tbl1').dataTable({
            language: {
                "search": "Ara :",
                "info": "Gösteriliyor _START_ to _END_ of _TOTAL_ Girdilerden",
                "infoEmpty": "Gösteriliyor 0 to 0 of 0 Girdilerden",
                "info": "Gösteriliyor _START_ to _END_ of _TOTAL_ Girdilerden",
                "lengthMenu": "Kaçarlı Gösterilsin _MENU_ ",
                "zeroRecords": "Hiçbir Kayıt Bulunamadı.",
                "paginate": {
                    "first": "İlk Sayfa",
                    "last": "Son Sayfa",
                    "next": "İleri",
                    "previous": "Geri"
                }
            },


        });

    </script>
}

