﻿@model MVC_StokTakip.Models.Entity.Class1
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fiyat Teklif Formu</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.1.0/dist/css/adminlte.min.css">


    <style>

        em {
            color: red;
            font-size: 1.000em;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        .card-text {
            font-size: 19px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        table, th, td {
            border: 2px solid black;
            border-collapse: separate;
            border-spacing: 00em;
        }

        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->

            <br />
            <!-- info row -->
            <div class="row">
                <div class="col-md-4">

                    <img style="width:350px; height:200px; " src="~/img/LOGOS.png" />

                </div>
                <div class="col-md-8">
                    <H2 style="text-align:center; margin-top:5px; color:grey;">BAKIM - ONARIM & GENEL SERVİS HİZMETLERİ</H2>
                    <hr color="red" size="10" width="600px" style="padding-top:2px;" />
                    <p style="text-align:center; font-size:1.400em; line-height: 1.2;">
                        YeniDoğan Mah. &nbsp;Abdi İpekçi Cad.&nbsp; Ramtaş Sanayi Sitesi No:163/I &nbsp; <br />(İnönü Meslek Lisesi Halı Sahaları Karşısında)&nbsp; B.Paşa - İSTANBUL<br /><span>Tel : 0212 615 15 10 &nbsp;- <em>7/24 Çekici ve Yol Yardım Hizmeti GSM: 0530 514 28 90</em></span><br /> www.arabamistanbul.com.tr&nbsp;- info@arabamistanbul.com.tr
                    </p>
                </div>
                <!-- /.col -->
                <!-- /.col -->
            </div>

            <div class="col-md-6 center">
                <h2 style="text-align:center;"><strong>FİYAT TEKLİF FORMUDUR</strong></h2>
            </div>
            <br />
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-5">
                        <p style="font-size: 1.350em; line-height: 0.8;"><strong>Müşteri Bilgileri : </strong> @Html.DisplayFor(x => Model.Tamiratlar.Araclar.Musteriler.Ad) @Html.DisplayFor(x => Model.Tamiratlar.Araclar.Musteriler.Soyad)</p>
                    </div>
                    <div class="col-md-4">
                        <p style="font-size: 1.350em; line-height: 0.8;"><strong>Model Yılı : </strong> </p>
                    </div>
                    <div class="col-md-3">
                        <p style="font-size: 1.350em; line-height: 0.8; "><strong>Tarih : </strong> @Html.DisplayFor(x => Model.Tamiratlar.Tarih)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-5">
                        <p style="font-size: 1.350em; line-height: 0.8;"><strong>Plaka : </strong> @Html.DisplayFor(x => Model.Tamiratlar.Araclar.Plaka)</p>
                    </div>
                    <div class="col-md-4">
                        <p style="font-size: 1.350em; line-height: 0.8;"><strong>Telefon No : </strong> @Html.DisplayFor(x => Model.Tamiratlar.Araclar.Musteriler.Telefon)</p>
                    </div>
                    <div class="col-md-3">
                        <p style="font-size: 1.350em; line-height: 0.8;"><strong>Kilometre : </strong> @Html.DisplayFor(x => Model.Tamiratlar.Km)</p>
                    </div>
                    <div class="col-md-5">
                        <p style="font-size: 1.350em; line-height: 0.8;"><strong>Marka : </strong> @Html.DisplayFor(x => Model.Tamiratlar.Araclar.AracMarka.Marka) @Html.DisplayFor(x => Model.Tamiratlar.Araclar.Model)</p>
                    </div>
                    <div class="col-md-4">
                        <p style="font-size: 1.350em; line-height: 0.8;"><strong>Şase No : </strong> @Html.DisplayFor(x => Model.Tamiratlar.Araclar.SasiNo)</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="card border border-dark">
                        <div class="card-header border border-dark" style="font-size:20px; text-align:center;">Müşteri Talepleri</div>
                        <!-- /.card-header -->
                        <div class="card-body text-dark" style="font-size:0.900em; line-height: 0.4;">
                            <p><strong>@Html.Raw(Model.Tamiratlar.Not1)</strong></p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->
                <div class="col-md-6">
                    <div class="card border border-dark">
                        <div class="card-header border border-dark" style="font-size:20px; text-align:center;">Uygulamalar</div>
                        <!-- /.card-header -->
                        <div class="card-body text-dark" style="font-size:0.900em; line-height: 0.4;">
                            <p><strong>@Html.Raw(Model.Tamiratlar.Not2)</strong> </p>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- ./col -->
            </div>
            <div class="row">
                <div class="col-12">

                    <table id="tbl2" class="table table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Takılan Parçalar</th>
                                <th>Miktarı</th>
                                <th>Birimi</th>
                                <th>Tutar</th>

                            <tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TamiratKalems)
                            {

                                <tr>
                                    @if (item.KategoriAd == "")
                                    {
                                        <td style="font-size:1em; line-height: 0.5;">@Html.DisplayFor(x => item.Aciklama)</td>
                                    }
                                    else
                                    {
                                        <td style="font-size:1em; line-height: 0.5;">@Html.DisplayFor(x => item.KategoriAd) - @Html.DisplayFor(x => item.StokKodu)</td>

                                    }
                                    <td style="font-size:1em; line-height: 0.5;">@Html.DisplayFor(x => item.Miktari, new { @class = "txt1" })</td>
                                    <td style="font-size:1em; line-height: 0.5;">@Html.DisplayFor(x => item.Birimler.Birim)</td>
                                    <td style="font-size:1em; line-height: 0.5;">@Html.DisplayFor(x => item.ToplamTutar)₺</td>

                                </tr>
                            }
                        </tbody>
                    </table>



                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->



            <div class="col-md-3">
                <h5><strong>ROT-BALANS : @Html.DisplayFor(x => Model.Tamiratlar.RotBalans)₺ </strong> </h5>
            </div>
            <hr>
            <div class="col-md-3">
                <h5><strong>TOPLAM : @Html.DisplayFor(x => Model.Tamiratlar.Toplam)₺ </strong>  </h5>
            </div>
            <hr>
            <div class="col-md-3">
                <h5><strong>İSKONTO : @Html.DisplayFor(x => Model.Tamiratlar.İskonto)₺ </strong> </h5>
            </div>
            <hr>
            <div class="col-md-3">
                <h5><strong>GENEL TOPLAM : @Html.DisplayFor(x => Model.Tamiratlar.GenelToplam)₺ </strong> </h5>
            </div>
            <hr>
            <div class="col-md-12">
                <h5 style="text-align:center; color:red;">BANKA HESAP NUMARALARI</h5>
            </div>
            <hr color="red" />

            <div class="col-md-12">
                <p style="text-align:center; font-size:1.100em; line-height: 1.2;">
                    EKFE OTOMOTİV TEKSTİL GIDA TARIM İNŞAAT SAN. VE TİC. LTD. ŞTİ.<br />
                    YAPIKREDİ BANKASI IBAN NO : TR15 0006 7010 0000 0076 6053 84 <br />
                    TÜRKİYE İŞ BANKASI IBAN NO : TR15 0006 4000 0011 0760 6108 83

                </p>
            </div>





            <!-- /.col -->
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
    <!-- Page specific script -->
    <script>window.addEventListener("load", window.print());</script>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>