@model MVC_StokTakip.MyModel.MyUrunler
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #interactive.viewport {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
    }

        #interactive.viewport > canvas, #interactive.viewport > video {
            max-width: 100%;
            width: 100%;
        }

    canvas.drawing, canvas.drawingBuffer {
        position: absolute;
        left: 0;
        top: 0;
    }
</style>
<h2 style="text-align:center;">Ürün Stok Kartı Oluştur</h2>
<br />
<div class="container">
    @using (Html.BeginForm("Ekle", "Urunler", FormMethod.Post, new { id = "urunkayidi" }))
    {
        <div class="form-row">
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.Kategoriler.Kategori)
                @Html.DropDownListFor(x => x.KategoriID, Model.KategoriListesi, "Seçiniz", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.KategoriID, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.BarkodNo)
                @Html.TextBoxFor(x => x.BarkodNo, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BarkodNo, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.UrunAdi)
                @Html.TextBoxFor(x => x.UrunAdi, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.UrunAdi, "", new { @class = "text-danger" })

            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.StokKodu)
                @Html.TextBoxFor(x => x.StokKodu, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.StokKodu, "", new { @class = "text-danger" })

            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.OemKod)
                @Html.TextBoxFor(x => x.OemKod, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.OemKod, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.AlisFiyati)
                @Html.TextBoxFor(x => x.AlisFiyati, new { @class = "form-control", data_val = "false" })
                @Html.ValidationMessageFor(x => x.AlisFiyati, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.SatisFiyati)
                @Html.TextBoxFor(x => x.SatisFiyati, new { @class = "form-control", data_val = "false" })
                @Html.ValidationMessageFor(x => x.SatisFiyati, "", new { @class = "text-danger" })

            </div>

            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.Birimler.Birim)
                @Html.DropDownListFor(x => x.BirimID, Model.BirimListesi, "Seçiniz", new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.BirimID, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.KDV)
                @Html.TextBoxFor(x => x.KDV, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.KDV, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.Tarih)
                @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(x => x.Tarih, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.Aciklama)
                @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(x => x.FormAciklama)
                @Html.TextAreaFor(x => x.FormAciklama, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.FormAciklama, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.Label("Kritik Sipariş Adedi")
                @Html.TextBoxFor(x => x.KritikSeviye, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.KritikSeviye, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.Label("Kritik Dükkan Adedi")
                @Html.TextBoxFor(x => x.KritikStok, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.KritikStok, "", new { @class = "text-danger" })

            </div>
            <div class="form-group col-md-3">
                @Html.Label("Konum")
                @Html.TextBoxFor(x => x.Konum, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Konum, "", new { @class = "text-danger" })

            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(x => x.Markalar.Marka)
                @Html.DropDownListFor(x => x.MarkaID, Model.MarkaListesi, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.MarkaID, "", new { @class = "text-danger" })

            </div>*@


        <div><button class="btn btn-success">Ürün Ekle</button></div>
        <div id="dialog" title="Emin Misiniz ?">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Bu stok kodlu ürünün daha önceden silinmiş kaydı bulunmaktadır. Yinede oluşturmak istermisiniz ? </p>
        </div>


    }

</div>

@section scriptdanger{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/ondalik.js"></script>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/GenelScript/jquery-code-scanner.js"></script>

<script>
    String.prototype.turkishToUpper = function () {
        var string = this;
        var letters = { "i": "I", "ş": "S", "ğ": "G", "ü": "U", "ö": "O", "ç": "C", "ı": "I" };
        string = string.replace(/(([iışğüçö]))/g, function (letter) { return letters[letter]; })
        return string.toUpperCase();
    }
    $('#AlisFiyati').keyup(function (index, value) {
        this.value = this.value.replace(',', '.');
    });
    $('#SatisFiyati').keyup(function (index, value) {
        this.value = this.value.replace(',', '.');
    });
    $('#Miktar').keyup(function (index, value) {
        this.value = this.value.replace(',', '.');
    });
    $('#KritikSeviye').keyup(function (index, value) {
        this.value = this.value.replace(',', '.');
    });
    $('#KritikStok').keyup(function (index, value) {
        this.value = this.value.replace(',', '.');
    });
    $('#UrunAdi').keyup(function (index, value) {
        this.value = this.value.turkishToUpper();
    });
    $('#UrunAdi').keyup(function (index, value) {
        this.value = this.value.replace('İ', 'I');
        this.value = this.value.replace('Ş', 'S');
        this.value = this.value.replace('Ğ', 'G');
        this.value = this.value.replace('Ü', 'U');
        this.value = this.value.replace('Ö', 'O');
        this.value = this.value.replace('Ç', 'C');
  });
    $('#StokKodu').keyup(function (index, value) {
        this.value = this.value.toUpperCase();
    });
    $('#FormAciklama').keyup(function (index, value) {
        this.value = this.value.turkishToUpper();
    });
    $('#FormAciklama').keyup(function (index, value) {
        this.value = this.value.replace('İ', 'I');
        this.value = this.value.replace('Ş', 'S');
        this.value = this.value.replace('Ğ', 'G');
        this.value = this.value.replace('Ü', 'U');
        this.value = this.value.replace('Ö', 'O');
        this.value = this.value.replace('Ç', 'C');
    });
    $('#Aciklama').keyup(function (index, value) {
        this.value = this.value.turkishToUpper();
    });
    $('#Aciklama').keyup(function (index, value) {
        this.value = this.value.replace('İ', 'I');
        this.value = this.value.replace('Ş', 'S');
        this.value = this.value.replace('Ğ', 'G');
        this.value = this.value.replace('Ü', 'U');
        this.value = this.value.replace('Ö', 'O');
        this.value = this.value.replace('Ç', 'C');
    });
    $('#OemKod').keyup(function (index, value) {
        this.value = this.value.turkishToUpper();
    });
    $('#OemKod').keyup(function (index, value) {
        this.value = this.value.replace('İ', 'I');
        this.value = this.value.replace('Ş', 'S');
        this.value = this.value.replace('Ğ', 'G');
        this.value = this.value.replace('Ü', 'U');
        this.value = this.value.replace('Ö', 'O');
        this.value = this.value.replace('Ç', 'C');
    });
</script>
<script>
    $('#BarkodNo').codeScanner({
        onScan: function ($element, code) {
            $("#BarkodNo").val(code);

        }
    });
</script>


<script>
    $(document).ready(function () {
        $("#urunkayidi").validate({
            rules: {
                "KategoriID": {
                    required: true,

                },
                "UrunAdi": {
                    required: true
                },
                "BarkodNo": {
                    required: true
                },
                "StokKodu": {
                    required: true
                },
                "OemKod": {
                    required: true
                },
                "AlisFiyati": {
                    required: true
                },
                "SatisFiyati": {
                    required: true
                },
                "Miktari": {
                    required: true
                },
                "KDV": {
                    required: true
                },
                "BirimID": {
                    required: true
                },
                "Tarih": {
                    required: true
                },
                "Aciklama": {
                    required: true
                },
                "FormAciklama": {
                    required: true
                }
            },
            messages: {
                "KategoriID": {
                    required: 'Kategori seçmelisiniz'

                },
                "UrunAdi": {
                    required: 'Ürün adı girmelisiniz'
                },
                "BarkodNo": {
                    required: 'Barkod No girmelisiniz'
                },
                "StokKodu": {
                    required: 'StokKodu girmelisiniz'
                },
                "OemKod": {
                    required: 'OemKod girmelisiniz'
                },
                "AlisFiyati": {
                    required: 'Alış Fiyatı girmelisiniz'
                },
                "SatisFiyati": {
                    required: 'Satış Fiyatı girmelisiniz'
                },
                "Miktari": {
                    required: 'Miktar bilgisi girmelisiniz'
                },
                "KDV": {
                    required: 'Kdv bilgisi girmelisiniz'
                },
                "BirimID": {
                    required: 'Birim türü girmelisiniz'
                },
                "Tarih": {
                    required: 'Tarih bilgisi girmelisiniz'
                },
                "Aciklama": {
                    required: 'Açıklama girmelisiniz'
                },
                "FormAciklama": {
                    required: 'Açıklama girmelisiniz'
                }
            },
            submitHandler: function (form) {
                $.ajax({
                    url: "/Urunler/Ekle/",
                    type: "POST",
                    data: $(form).serialize(),
                    dataType: 'json',
                    success:
                        function (response) {

                            if (response.result == 'Redirect') {
                                alert("Ürün Ekleme işlemi başarılı");
                                window.location = response.url;
                            }
                            else if (response == "0") {
                                alert("Bu barkodlu ürün sistemde kayıtlıdır.");
                                
                            }
                            else if (response == "2") {
                                $("#dialog").dialog("open");
                            }
                        },
                    error: function () {
                        alert("Hata");
                    }
                });
            }
        });
    })

</script>
<script>
    $(function () {
        $("#dialog").dialog({
            autoOpen: false,
            height: "auto",
            width: 400,
            resizable: false,
            draggable: false,
            show: {
                effect: "blind",
                duration: 100
            },
            hide: {
                effect: "blind",
                duration: 100
            },
            buttons: {
                "Evet": function () {
                    $.ajax({
                        url: "/Urunler/Ekle2/",
                        type: "POST",
                        data: $("#urunkayidi").serialize(),
                        dataType: 'json',
                        success:
                            function (response) {
                                if (response.result == 'Redirect')
                                    window.location = response.url;

                            },
                        error: function () {
                            alert("Hata");
                        }
                    });
                },
                "İptal": function () {
                    $(this).dialog("close");
                }
            }
        });

    });
</script>

@*@section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#KategoriID").change(function () {

                    var ID = $("#KategoriID").val();
                    var markalist = $("#MarkaID");
                    markalist.empty();
                    $.ajax({
                        url: '/Urunler/GetMarka',
                        type: 'POST',
                        dataType: 'json',
                        data: { 'id': ID },
                        success: function (data) {
                            $.each(data, function (index, option) {

                                markalist.append('<option value=' + option.Value + '>' + option.Text + '<option')
                            });
                        }
                    });
                });
            });
        </script>
    }*@

@*<script>
        $(function () {


            var dir = $("#dir").val();
            var col = $("#col").val();
            try {
                var header = $("th a[href*=" + col + "] ");
                if (dir == "Ascending") {
                    header.text(header.text() + " ↑");

                }
                if (dir == "Descending") {
                    header.text(header.text() + " ↓");

                }


            } catch (e) {

            }

        })

    </script>*@
@*<script type="text/javascript">
        $(function () {
            $("#grid").on("click", ".btnSil", function () {
                var btn = $(this);
                bootbox.confirm(btn.data("id") + "nolu ID kaydı silinsin mi?", function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $.ajax({
                            type: "GET",
                            url: "/Urunler/Sil",
                            data: { id: id },
                            success: function () {
                                btn.parent().parent().remove();
                            }
                        });
                    }
                });
            });
        });
    </script>*@

@*<script type="text/javascript">
        $(function () {
            // Create the QuaggaJS config object for the live stream
            var liveStreamConfig = {
                inputStream: {
                    type: "LiveStream",
                    constraints: {
                        width: { min: 640 },
                        height: { min: 480 },
                        aspectRatio: { min: 1, max: 100 },
                        facingMode: "environment" // or "user" for the front camera
                    }
                },
                locator: {
                    patchSize: "medium",
                    halfSample: true
                },
                numOfWorkers: (navigator.hardwareConcurrency ? navigator.hardwareConcurrency : 4),
                decoder: {
                    "readers": [
                        { "format": "code_128_reader", "config": {} },
                        { "format": "ean_reader", "config": {} },
                        { "format": "ean_8_reader", "config": {} },
                        { "format": "code_39_reader", "config": {} },
                        { "format": "upc_reader", "config": {} },
                        { "format": "upc_e_reader", "config": {} }

                    ]
                },
                locate: true
            };
            // The fallback to the file API requires a different inputStream option.
            // The rest is the same
            var fileConfig = $.extend(
                {},
                liveStreamConfig,
                {
                    inputStream: {
                        size: 800
                    }
                }
            );
            // Start the live stream scanner when the modal opens
            $('#livestream_scanner').on('shown.bs.modal', function (e) {
                Quagga.init(
                    liveStreamConfig,
                    function (err) {
                        if (err) {
                            $('#livestream_scanner .modal-body .error').html('<div class="alert alert-danger"><strong><i class="fa fa-exclamation-triangle"></i> ' + err.name + '</strong>: ' + err.message + '</div>');
                            Quagga.stop();
                            return;
                        }
                        Quagga.start();
                    }
                );
            });

            // Make sure, QuaggaJS draws frames an lines around possible
            // barcodes on the live stream
            Quagga.onProcessed(function (result) {
                var drawingCtx = Quagga.canvas.ctx.overlay,
                    drawingCanvas = Quagga.canvas.dom.overlay;

                if (result) {
                    if (result.boxes) {
                        drawingCtx.clearRect(0, 0, parseInt(drawingCanvas.getAttribute("width")), parseInt(drawingCanvas.getAttribute("height")));
                        result.boxes.filter(function (box) {
                            return box !== result.box;
                        }).forEach(function (box) {
                            Quagga.ImageDebug.drawPath(box, { x: 0, y: 1 }, drawingCtx, { color: "green", lineWidth: 2 });
                        });
                    }

                    if (result.box) {
                        Quagga.ImageDebug.drawPath(result.box, { x: 0, y: 1 }, drawingCtx, { color: "#00F", lineWidth: 2 });
                    }

                    if (result.codeResult && result.codeResult.code) {
                        Quagga.ImageDebug.drawPath(result.line, { x: 'x', y: 'y' }, drawingCtx, { color: 'red', lineWidth: 3 });
                    }
                }
            });

            // Once a barcode had been read successfully, stop quagga and
            // close the modal after a second to let the user notice where
            // the barcode had actually been found.
            Quagga.onDetected(function (result) {
                if (result.codeResult.code) {
                    $('#BarkodNo').val(result.codeResult.code);
                    Quagga.stop();
                    setTimeout(function () { $('#livestream_scanner').modal('hide'); }, 1000);
                }
            });

            // Stop quagga in any case, when the modal is closed
            $('#livestream_scanner').on('hide.bs.modal', function () {
                if (Quagga) {
                    Quagga.stop();
                }
            });

            // Call Quagga.decodeSingle() for every file selected in the
            // file input
            $("#livestream_scanner input:file").on("change", function (e) {
                if (e.target.files && e.target.files.length) {
                    Quagga.decodeSingle($.extend({}, fileConfig, { src: URL.createObjectURL(e.target.files[0]) }), function (result) { alert(result.codeResult.code); });
                }
            });
        });

    </script>*@