@model  List<MVC_StokTakip.Models.Entity.Girisler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:100%;" class="col-md-12 satislar-index">
    <h2>Eklenmiş Stok Geçmişi</h2>
    <br />



    <table class="table table-responsive-sm" id="tbl1">
        <thead>
            <tr>
                <th>Kullanıcı</th>
                <th>Barkod No</th>
                <th>Stok Kodu</th>
                <th>Oem Kodu</th>
                <th>Ürün Adı</th>
                <td>Stok Kodu</td>
                <th>Miktarı</th>
                <th>Birimi</th>
                <th>Durum</th>
                <th>Giriş Yapılan Depo</th>
                <th>Tarih</th>
                <th>Saat</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tr>
                <td>@Html.DisplayFor(x => item.Kullanicilar.AdiSoyadi)</td>
                <td>@Html.DisplayFor(x => item.BarkodNo)</td>
                <td>@Html.DisplayFor(x=> item.StokKodu)</td>
                <td>@Html.DisplayFor(x => item.OemKod)</td>
                <td>@Html.DisplayFor(x => item.Urunler.UrunAdi)</td>
                <td>@Html.DisplayFor(x => item.StokKodu)</td>
                <td>@Html.DisplayFor(x => item.Miktari)</td>
                <td>@Html.DisplayFor(x => item.Urunler.Birimler.Birim)</td>
                <td>@Html.DisplayFor(x => item.Durum)</td>
                <td>@Html.DisplayFor(x=> item.Depolar.Adi)</td>
                <td>@item.Tarih.ToString("dd.MM.yyyy")</td>
                <td>@item.Saat.ToString("dd.MM.yyyy HH:mm:ss")</td>




            </tr>
        }
    </table>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script src="~/GenelScript/jquery-code-scanner.js"></script>


<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
<script>
    $('#tbl1').dataTable({
        language: {
            "search": "Kayıt Ara :",
            "info": "Gösteriliyor _START_ to _END_ of _TOTAL_ Girdilerden",
            "infoEmpty": "Gösteriliyor 0 to 0 of 0 Girdilerden",
            "info": "Gösteriliyor _START_ to _END_ of _TOTAL_ Girdilerden",
            "lengthMenu": "Kaçarlı Gösterilsin _MENU_ ",
            "zeroRecords": "Hiçbir Kayıt Bulunamadı.",
            "paginate": {
                "first": "İlk Sayfa",
                "last": "Son Sayfa",
                "next": "İleri",
                "previous": "Geri"
            }
        },


    });
</script>