@model MVC_StokTakip.MyModel.MyKategoriler
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h2>Kategori Ekle</h2>
    <form action="/Kategoriler/Ekle2" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, null, new { @class = "text-danger" })
        <div class="form-group">
            <label>Kategori</label>
            <input type="text" name="Kategori" class="form-control" />
            @Html.ValidationMessageFor(x => x.Kategori, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Açıklama</label>
            <textarea name="Aciklama" class="form-control"></textarea>
            @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <label>Sayfa Numarası</label>
            <input name="SayfaNo" class="form-control" />
            @Html.ValidationMessageFor(x => x.SayfaNo, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <button class="btn btn-success">Kategori Ekle</button>
        </div>
    </form>
</div>
